.ws-list {
    /*TODO*/

    display: flex;
    gap: 2.75rem;
    justify-content: space-around;
    align-items: start;

    .ws-box {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        min-width: 25%;

        &:hover .ws-box-body{
            transform: translateY(-.5rem);
            transition: transform .25s ease-in-out;
        }

    }

    .ws-box:first-child{
        --ws-box-background: var(--background);
    }

    .ws-box:nth-child(3){
        --ws-box-background: #9d174d;
    }

    .ws-box:last-child{
        --ws-box-background: #3d1778;
    }

    .ws-box-header {
        background-color: var(--ws-box-background);
        padding: 2rem;
        border-top-left-radius: 25%;
        font-size: 2rem;
        text-align: center;
        font-weight: bold;
    }

    .ws-box-body{
        transition: transform .25s ease-in-out;

        background-color: var(--ws-box-background);
        padding: 2rem;
        border-bottom-right-radius: 25%;
        font-size: 1.125rem;

        display: flex;
        flex-direction: column;
        gap: .5rem;
        line-height: 1.5;
    }

    .ws-icon-wrapper{
        font-size: 2.5rem;
        color: var(--heading-txt);
        align-self: center;
    }

    .badge-holder{
        display: flex;
        justify-content: center;
        align-items: center;
        width:70%;
        align-self: center;
        filter: drop-shadow(10px 25px 40px var(--background));
    }

}

@media (max-width: 900px) {
    .ws-list{
        flex-direction: column;
    }

    .ws-icon-wrapper{
        transform: rotate(90deg);
    }
}