.hero-section{
    background-image: url("./images/banner/hero_banner.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    min-height: 100svh;

    position: relative;
    isolation: isolate;
}

.hero-section::before{
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .8);

    z-index: -1;
}

.hero-section .full-width-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-height: 100svh;
    padding-inline: 1rem;
}

.hero-section .hero-title-wrapper{
    display: flex;
    flex-direction: column;
}

.hero-section .hero-title-wrapper h2{
    font-size: 8rem;
    -webkit-text-stroke: 4px var(--txt);
    color: transparent;
}

.hero-section .hero-title-wrapper h3{
    text-transform: uppercase;
    font-size: 2rem;
    color: var(--heading-txt);
}

@media(max-width: 800px){
    .hero-section .hero-title-wrapper h2{
        font-size: 5rem;
    }
}