
.about-sections{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.about-block{
    display: flex;
    flex-flow: column nowrap;
    gap: 2.5rem;
}

.about-block .block-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

@media(max-width: 800px){
    .about-block .block-content{
        grid-template-columns: 1fr;
    }
}

@media(min-width: 800px){
    .about-block:nth-child(even) .text--block{
        order: 2;
    }
}

.about-block .text--block{
    font-size: 1.225rem;
    align-self: center;
    line-height: 1.5;
    letter-spacing: 1px;
}

.about-block .image--block{
    justify-self: center;

    width: 350px;
    height: 300px;

    transition: transform 0.5s;
    position: relative;
}

.about-block .image--block .image-block-border{
    position: absolute;
    width: 350px;
    height: 300px;
    inset: 0;
    background-color: #fff;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%);
}

.about-block .image--block .image-block-inside{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 250px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%);
}

/*
.about-block .image--block::before{
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    !*clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%);*!
    width: 400px;
    height: 500px;
    background-color: #fff;
    z-index: -1;
}
*/

/*.about-block .image--block:hover{*/
/*    transition: transform 0.5s;*/
/*    transform: translateY(-10px);*/
/*}*/

.about-block .hexagon-tilt-wrapper{
    justify-self: center;
}

.about-block#introduction .hexagon-image-wrapper .hexagon-image-image{
    /*background-image: url("images/prof/me_ws.jpg");*/
    background-position: top;
}

.about-sections .hexagon-image-border{
    background-color: #fff;
}

.about-sections .hexagon-image-blender{
    background-color: var(--background);
}

.about-sections #introduction .hexagon-image-image{
    background-image: url('/images/prof/me_ws.jpg');
    background-size: cover;
}

.about-sections #education .hexagon-image-image{
    background-image: url('/images/prof/me_award.jpg');
    background-size: cover;
}

.about-sections #hobbies .hexagon-image-image{
    background-image: url("/images/prof/plane.png");
    background-size: cover;
    background-position: 370px 0;
}

.about-sections #skills .hexagon-image-image{
    background-image: url("/images/prof/me_cer.jpg");
    background-size: cover;
    background-position: 370px 0;
}