.hexagon-image-wrapper{

    --hexagon-image-width: 350px;
    --hexagon-image-height: 300px;

    width: var(--hexagon-image-width);
    height: var(--hexagon-image-height);

    position: relative;
}

.hexagon-image-wrapper .hexagon-image-border{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: var(--hexagon-image-width);
    height: var(--hexagon-image-height);

    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%);
}

.hexagon-image-wrapper .hexagon-image-blender{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: calc(var(--hexagon-image-width) - 10px);
    height: calc(var(--hexagon-image-height) - 10px);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%);
}

.hexagon-image-wrapper .hexagon-image-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: calc(var(--hexagon-image-width) - 20px);
    height: calc(var(--hexagon-image-height) - 20px);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%);
}