header{
    /*background-color: var(--background-2);*/

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}

header .full-width-wrapper{
    padding: 2rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

header nav ul{
    display: flex;
    gap: 1.25rem;
    list-style-type: none;
    font-size: 1.25rem;
}

header nav ul a{
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
}

header nav ul a:hover{
    text-decoration: underline;
}