@font-face {
    font-family: 'FrutigerLTProBlack';
    src: url('/font/FrutigerLTProBlack.otf') format('opentype');
}

@font-face {
    font-family: 'FrutigerLTProBlackCn';
    src: url('/font/FrutigerLTProBlackCn.otf') format('opentype');
}

@font-face {
    font-family: 'FrutigerLTProBlackCnIta';
    src: url('/font/FrutigerLTProBlackCnIta.otf') format('opentype');
}

@font-face {
    font-family: 'FrutigerLTProBlackItalic';
    src: url('/font/FrutigerLTProBlackItalic.otf') format('opentype');
}

@font-face {
    font-family: 'FrutigerLTProBold';
    src: url('/font/FrutigerLTProBold.otf') format('opentype');
}

@font-face {
    font-family: 'FrutigerLTProBoldCn';
    src: url('/font/FrutigerLTProBoldCn.otf') format('opentype');
}

@font-face {
    font-family: 'FrutigerLTProBoldCnIta';
    src: url('/font/FrutigerLTProBoldCnIta.otf') format('opentype');
}

@font-face {
    font-family: 'FrutigerLTProBoldItalic';
    src: url('/font/FrutigerLTProBoldItalic.otf') format('opentype');
}

@font-face {
    font-family: 'FrutigerLTProCondensed';
    src: url('/font/FrutigerLTProCondensed.otf') format('opentype');
}

@font-face {
    font-family: 'FrutigerLTProCondensedItalic';
    src: url('/font/FrutigerLTProCondensedItalic.otf') format('opentype');
}

@font-face {
    font-family: 'FrutigerLTProExtraBlackCn';
    src: url('/font/FrutigerLTProExtraBlackCn.otf') format('opentype');
}

@font-face {
    font-family: 'FrutigerLTProExtraBlkCnIta';
    src: url('/font/FrutigerLTProExtraBlkCnIta.otf') format('opentype');
}

@font-face {
    font-family: 'FrutigerLTProItalic';
    src: url('/font/FrutigerLTProItalic.otf') format('opentype');
}

@font-face {
    font-family: 'FrutigerLTProLight';
    src: url('/font/FrutigerLTProLight.otf') format('opentype');
}

@font-face {
    font-family: 'FrutigerLTProLightCn';
    src: url('/font/FrutigerLTProLightCn.otf') format('opentype');
}

@font-face {
    font-family: 'FrutigerLTProLightCnIta';
    src: url('/font/FrutigerLTProLightCnIta.otf') format('opentype');
}

@font-face {
    font-family: 'FrutigerLTProLightItalic';
    src: url('/font/FrutigerLTProLightItalic.otf') format('opentype');
}

@font-face {
    font-family: 'FrutigerLTProRoman';
    src: url('/font/FrutigerLTProRoman.otf') format('opentype');
}

@font-face {
    font-family: 'FrutigerLTProUltraBlack';
    src: url('/font/FrutigerLTProUltraBlack.otf') format('opentype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: inherit;
}

:root {
    --body-width: 1440px;

    --dark-txt: #1e1b4b;
    --background: #171032;
    --background-2: #2E1651;
    --section-background: #160F31;
    --txt: #ffffff;
    --heading-txt: #D51067;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family:'FrutigerLTProRoman', 'Times New Roman', sans-serif;
    color: var(--txt);
    background-color: var(--background);
    max-width: var(--body-width);
    margin: 0 auto;
}

a {
    display: block;
}

a.external-link{
    position: relative;
}

a.external-link::after {
    content: '↗';
    position: absolute;
    right: -30%;
    top: -25%;
}

img {
    max-width: 100%;
    display: block;
}

.full--width {
    width: 100vw;
    margin-inline: calc(50% - 50vw);
}

.full-width-wrapper {
    max-width: var(--body-width);
    margin: 0 auto;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100svh;
}

header {
    flex-shrink: 0;
}

main {
    flex-grow: 1;
}

footer {
    flex-shrink: 0;
}

.page--section {
    background-color: var(--section-background, purple);
}

.page--section:nth-child(odd) {
    background-color: var(--dark-txt);
}

.page--section .full-width-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-block: 5rem;
    padding-inline: 2rem;
}

.page--section .section--title {
    font-size: 4rem;
    text-transform: uppercase;
    -webkit-text-stroke: 1px var(--heading-txt);
    letter-spacing: 2px;
    color: transparent;
    position: relative;
}

@media(max-width: 800px){
    .page--section .section--title{
        font-size: 3rem;
    }
}

.page--section .section--title::before {
    content: '';
    position: absolute;
    width: 100vw;
    margin-inline: calc(50% - 50vw);
    margin-top: -5rem;
    height: 150%;
    max-height: 80px;
    background-image: linear-gradient(to right, var(--dark-txt), var(--section-background));
    clip-path: polygon(100% 0, 0 0, 100% 125%);
}

.page--section:nth-child(odd) .section--title::before {
    background-image: linear-gradient(to left, var(--dark-txt), var(--section-background));
}

.text--block {
    text-align: justify;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.block--subtitle {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 4px;
    color: var(--txt);
}

.inline-link{
    display: inline;
}