* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: inherit;
    font-family: inherit;
}

:root{
    --body-width: 1440px;

    --dark-txt: #1e1b4b;
    --background: #171032;
    --background-2: #2E1651;
    --section-background: #160F31;
    --txt: #ffffff;
    --heading-txt: #D51067;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--txt);
    background-color: var(--background);
    max-width: var(--body-width);
    margin: 0 auto;
}

a {
    display: block;
}

a:is(.external-link){
    position: relative;
}

a.external-link::after{
    content: '↗';
    position: absolute;
    right: -32%;
    top: -15%;
}

img {
    max-width: 100%;
    display: block;
}

.full-width{
    width: 100vw;
    margin-inline: calc(50% - 50vw);
}

.full-width-wrapper{
    max-width: var(--body-width);
    margin: 0 auto;
}

.app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100svh;
}

header{
    flex-shrink: 0;
}

main{
    flex-grow: 1;
}

footer{
    flex-shrink: 0;
}

.page--section{
    background-color: var(--section-background, purple);
}

.page--section .full-width-wrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-block: 3rem;
    padding-inline: 2rem;
}

.page--section .section--title{
    font-size: 3rem;
    text-transform: uppercase;
    -webkit-text-stroke: 1px var(--heading-txt);
    letter-spacing: 2px;
    color: transparent;
}

.text--block{
    text-align: justify;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.block--subtitle{
    text-align: center;
    font-size: 2rem;
    letter-spacing: 4px;
    color: var(--txt);
}